a{
    text-decoration: none;
    color:black;
}

/* Estilizando a font de toda a página */
*{
    font-family: 'Poppins',sans-serif;
}


/* Formatando a página */
body{
    margin: 0;
    padding: 0;

    background-color: #EEEEEE;
}


/* Estilizando o header da página*/
.teste{
    width: 100%;
    height: 70px;
}
header{
    width: 100vw;

    background-color: white;

    display: flex;
    justify-content: space-between;
    padding: 10px 70px;

    position: fixed;
}

header .logo{
    font-size: 25px;

    /* background-color: green; */
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span{
    color: #A98453;
}

header .menu{
    width: 900px;
    /* height: 100%; */

    /* background-color: yellow; */
}

.menu ul{
    list-style: none;

    display: flex;
    justify-content: end;
}

.menu ul li{
    color: #7E7E7E;

    margin: 0px 30px;
}

.menu ul .ativo{
    color: black;
    border-left: 3px solid #A98453;

    padding: 0px 5px;
}

header .login{
    /* width: 200px; */
    /* height: 100%; */

    /* background-color: brown; */

    display: flex;
    margin-right: 120px;
    align-items: center;
}

.login .fake_btn{
    width: 100px;
    height: 30px;

    background-color: white;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login .fake_btn:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}


/* Estlizando o banner */
.banner{

    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;

    padding: 80px 130px 80px 130px;
}

.banner .up{
    width: 800px;

    /* background-color: rebeccapurple; */

    display: flex;
    flex-direction: column;
}

.up .titulo{
    font-size: 45px;

    /* background-color: blue; */
    font-weight: bold;
    color: white;
}

.titulo span{
    color: #A98453;
}

.up .subtitulo{
    font-size: 20px;
    color: white;
}

.up .fake_btn{
    width: 300px;
    height: 40px;
    font-size: 20px;

    background-color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner .down{
    width: 100%;

    /* background-color: rebeccapurple; */
    color: white;

    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.down .titulo{
    font-size: 30px;
}

.down .subtitulo{
    font-size: 20px;
}

.down .search{
    height: 130px;
    width: 100%;

    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75);

    display: flex;
}

.search .bloco{
    width: 20%;
    height: 100%;

    /* border-right: 0.5px solid rgb(196, 196, 196);
    border-radius: 20px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloco .desc_bloco{
    font-size: 20px;

    color: black;
}

.bloco select{
    height: 40px;
    font-size: 15px;

    color: rgb(70, 70, 70);
    border: none;
    text-align: center;
}

select:focus{
    outline: none;
}

.bloco input{
    height: 40px;
    font-size: 15px;

    color: rgb(70, 70, 70);
    border: none;
    /* box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75); */
    text-align: center;
}

.bloco input:focus{
    outline: none;
}

.busca .desc_bloco:hover{
    font-size: 22px;
    transition: 1s;
    color: black;
    cursor: pointer;
}


/* Estelizando os cards */
.cards{
    /* background-color: blue; */

    padding: 0px 130px 0px 130px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards .card{
    width: 300px;
    min-height: 410px;

    background-color: white;
    box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75);

    display: flex;
    flex-direction: column;

    margin-bottom: 50px;
}

.card img{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card .titulo{
    font-size: 20px;
    font-weight: bold;

    margin: 20px 20px 0px 20px;
}

.card .subtitulo{
    font-size: 15px;

    margin: 0px 20px 0px 20px;
}

.card .contato{
    width: 240px;

    cursor: pointer;
    background-color: #1CAB51;
    border-radius: 27px;

    margin: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contato img{
    width: 50px;
}

.contato .numero{
    font-size: 20px;

    color: white;
}

/* Estilizando o footer */

footer{
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo{
    font-size: 25px;

    /* background-color: green; */
    font-weight: bold;
}

.logo span{
    color: #A98453;
}

footer .footer_menu{
    margin-right:40px;
}

footer .footer_menu ul{
    font-size: 15px;

    list-style: none;
    color: black;

    text-align: center;
    display: flex;
    flex-direction: column;
}

footer .direitos{
    font-size: 15px;

    color: #9E9E9E;
}